name: Build Docker Image

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]
  # Allow manual triggering
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository
      id: checkout
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      id: setup
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository }}
        tags: |
          type=ref,event=branch
          type=semver,pattern={{version}}
          type=sha
          type=raw,value=latest,enable={{is_default_branch}}

    - name: Build Docker image
      id: build
      uses: docker/build-push-action@v5
      with:
        context: .
        push: ${{ github.event_name != 'pull_request' }}
        load: ${{ github.event_name == 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
    
    - name: Test Docker image
      if: github.event_name == 'pull_request'
      id: test
      run: docker run ghcr.io/${{ github.repository }}:latest --help

    - name: Generate SBOM
      if: github.event_name != 'pull_request'
      id: sbom
      uses: anchore/sbom-action@v0
      with:
        image: ghcr.io/${{ github.repository }}:latest
        format: syft-json
        output-file: "${{ github.event.repository.name }}-sbom.syft.json"    

    - name: Generate SBOM (SPDX)
      if: github.event_name != 'pull_request'
      uses: anchore/sbom-action@v0
      with:
        image: ghcr.io/${{ github.repository }}:latest
        format: spdx-json
        output-file: "${{ github.event.repository.name }}-sbom.spdx.json"

    - name: Scan SBOM for vulnerabilities
      if: github.event_name != 'pull_request'
      id: scan
      uses: anchore/scan-action@v6
      with:
        sbom: "${{ github.event.repository.name }}-sbom.syft.json"
        fail-build: false
        severity-cutoff: high

    - name: Upload SBOM as release asset
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: |
          *-sbom.syft.json
          *-sbom.spdx.json
          *-vuln.sarif        

    - name: Upload Anchore scan SARIF report
      if: github.event_name != 'pull_request'
      id: upload
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}

permissions:
   actions: read
   security-events: write
   contents: write
   packages: write
